[Datasets]
is_microstrain = True

[Fault Info]
variable_rake = False
coseismic_slip = 5
t_eq_frac = 0.2

[Slip Patch Descritization]
nve_total = 3
patch_length = 15
dlock_max = 20
build_filename = NoCal_bodyforce_moment_novisco
strainrates_obs = /data/BforStrain_WUS_9_28_2022_smooth_trimesh.txt
is_microstrain = True
# refine patches down to what spacing? (e.g. 1 = 1 km spacing)
refine = 1
save_strainrates_centroids = False

[Geometry]
obs_limits = False
obs_xmin = -300
obs_xmax = 10
obs_ymin = -200
obs_ymax = 200
# origin of coordinate system
# must be consistent with origin in strain rate dataset
lon0 = -121
lat0 = 39
h0 = 0
# unorganized parameters
nom_node_spacing = 15

[Viscoelastic Parameters]
nu = 0.25
gshear = 1
# number of terms for hankel transform
nterms = 100
# thickness of elastic plate (set the same as dlock_max)
h1 = 20
# depth to bottom of viscoelastic layer (km)
h2 = 50
# relaxation time of viscoelastic layer (years)
tr1 = 50
# relaxation time of halfspace (years)
tr2 = 10
# average coseismic slip (meters) used to define default recurrence time
# e.g., recurrence time = coseismic_slip*1000/prefsliprate
coseismic_slip = 5
# default time since last earthquake as a fraction of recurrance time
t_eq_frac = 0.2

